<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <title>{{nickname}}</title>
  <style>textarea{resize:none;}</style>

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script src='/js/bootstrap.js'></script>

  <link rel="stylesheet" href="/css/plantStyle.css">
  
</head>
<body>

<!-- 
  CAN'T ADD PHOTOS
-->
  <div class="container">
      <div class="header">
        <a href='/myPlantsPage'>
          <img src='/images/back-button.svg'>
        </a>
        <h1>My Plants</h1>
      </div>

      <!--
    <div id="prevPage">
      <a href='/myPlantsPage'>
      <img src='/images/back-button.svg'>
      </a>
    </div>  -->


    <div id="plantID">
      <img id='journalPhoto' src="/images/{{nickname}}.svg" alt="Image not found" onerror="this.onerror=null;this.src='/images/{{species}}.svg'"/>
      <h3 id="getNickname">{{nickname}}</h3>
      <h4 class="ital">{{species}}</h4>
      <h4>{{age}} days old</h4>
    </div>

    <div class="tabs">
      <button class="tab" onclick="goJournal()">Quick Journal</button>
      <button class="tab selectedTab">About {{nickname}}</button>
    </div>
    
    <div class="input">
      <form id="addEntryForm" role="form" method="get" action="/plant/{{nickname}}/update">
        <div class="form-group">
          <label class="bold" for="date">Start Date:</label>
          <input type="date" class="form-control" id="date" name="date" max="2021-04-01" value="{{start}}">
        </div>

        
        <div class="form-group">
          <h4>Watering Reminder</h4>
          <label class="ital" for="time">Time of Day:</label>
          <input type="time" class="form-control" id="time" name="time" value={{time}}>
        </div>

        <div class="form-group">
          <p class="ital">How Often:</p>
          <div id="periodButtons">
          <input type="radio" class="remind" id="every day" name="remind" value="every day">
          <label for="every day">Every day</label>
          <br/>
          <input type="radio" class="remind" id="every day" name="remind" value="every other day">
          <label for="every other day">Every other day</label>
          <br/>
          <input type="radio" class="remind" id="every week" name="remind" value="every week">
          <label for="every week">Every week</label>
          </div>
        </div>

        
        <input type="submit" id="submitBtn2" class="btn btn-default" value="Save Changes"></input>
      </form>
    </div>
      
    <div class="hide" id="radioVal">{{period}}</div>

    <div class="footer">
        <div class="footer-item">
          <a id='home-button' href="/index">
              <img src="/images/home-button.svg">
          </a>
        </div>
<div class="footer-item">
            <a id='plant-button' href='/myPlantsPage'>
                <img src="/images/plant-button.svg">
          </a>
          </div> 
        <div class="footer-item">
          <a href="/calendar">
          <img id='calendar-button' src="/images/calendar-button.svg">
          </a>
        </div>
    </div>

  </div>


<script src='/js/myPlants.js'></script>
<script type="app.js"></script>
</body>
</html>