<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/searchStyle.css">
</head>
<body>


  <div class="page-container">

    <div class= "title">
      <img id='left-leaf' src="/images/small-leaf.svg">
      <p>ADD PLANTS</p>
      <img id='right-leaf' src="/images/small-leaf.svg">
    </div>

    <div id="searchBar">
      <form action="/search/for/">
        <input type="text" name="searched" placeholder="Search...">
        <input type="submit" value="Search"></input>
      </form>
    </div>  

    <div class="filters">
      <p id='filters'>FILTERS</p>

      <form>
        <input type="checkbox" id="Ferns" name="Ferns" value="Ferns" onclick="filter();">
        <label for="Ferns">Ferns</label>

        <input type="checkbox" id="Flowers" name="Flowers" value="Flowers" onclick="filter();">
        <label for="Flowers">Flowers</label>

        <input type="checkbox" id="Herbs" name="Herbs" value="Herbs" onclick="filter();">
        <label for="Herbs">Herbs</label>
      </form>
  
    <div>
      <p>Results</p>
    </div>

    <p>Add sorting?</p>

    <p id="getSearch">{{searchedFor}}</p>

    <div id="loadResults">
      <!--
        {{#Results}}
          <div class="result">
                <div class="filterTags">
                  <p>{{tags}}</p>
                </div>

                <div class="plantIMG">
                  <img class="resultImg" src="/images/{{img}}">
                </div>

                <div class="infoButton">
                  <a href ='/info/{{name}}'>
                    ?
                  </a>
                </div>

                <div class="addButton">
                  <a href ='/editPlantPage/{{name}}'>
                    +
                  </a>
                </div>

                <div class="resultName">
                  <p>{{name}}
                </div>
          </div>
      {{/Results}}
    -->
    </div>

      
    <div class='navbar'>
      <a id='home-button' href='/index'>
          <img src="/images/home-button.svg">
      </a>
      <a href="/calendar">
        <img id='calendar-button' src="/images/calendar-button.svg">
      </a>
    </div>

</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src='/js/newSearch.js'></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>