<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <link rel="stylesheet" href="/css/searchStyle.css">
</head>
<body>


  <div class="page-container">

    <div class="header">
        <img src="images/leaf.svg">
        <h1>Add Plants</h1>
        <img src="images/leaf.svg">
    </div>


    <div class="body">
      <div class="padHead"></div>
      <div id="searchBar">
        <form action="/search/for/">
          <input type="text" name="searched" placeholder="Search...">
          <input type="submit" value="Search"></input>
        </form>
      </div>  

    <div class="filters">
      <h5 id='filterT'>FILTERS</h5>

      <form>
        <input type="checkbox" id="Ferns" name="Ferns" value="Ferns" onclick="filter();">
        <label for="Ferns">Ferns</label>

        <input type="checkbox" id="Flowers" name="Flowers" value="Flowers" onclick="filter();">
        <label for="Flowers">Flowers</label>

        <input type="checkbox" id="Herbs" name="Herbs" value="Herbs" onclick="filter();">
        <label for="Herbs">Herbs</label>

        <input type="checkbox" id="Beginner" name="Beginner" value="Beginner" onclick="filter();">
        <label for="Beginner">Beginner</label>

        <input type="checkbox" id="Intermediate" name="Intermediate" value="Intermediate" onclick="filter();">
        <label for="Intermediate">Intermediate</label>

        <input type="checkbox" id="Advanced" name="Advanced" value="Advanced" onclick="filter();">
        <label for="Advanced">Advanced</label>
      </form>
    </div>
  
    <div>
      <h3>Results</h3>
    </div>

    <p class="hide">Add sorting?</p>

    <p class="hide" id="getSearch">{{searchedFor}}</p>

    <div id="loadResults">
      <!--
        {{#Results}}
          <div class="result">
                <div class="filterTags"></div>

                <div class="plantIMG">
                  <img class="resultImg" src="/images/{{img}}">
                </div>

                <div class="infoButton">
                  <a href ='/info/{{name}}'>
                    ?
                  </a>
                </div>

                <div class="addButton">
                  <a href ='/editPlantPage/{{name}}'>
                    +
                  </a>
                </div>

                <div class="resultName">
                  <p>{{name}}</p>
                </div>
          </div>
      {{/Results}}
    -->
    </div>
          <div class="padHead"></div>
  </div>
      
      <div class="footer">
        <div class="footer-item">
          <a id='home-button' href='/index'>
              <img src="images/home-button.svg">
          </a>
        </div>

        <div class="footer-item">
          <a href="/calendar">
          <img id='calendar-button' src="images/calendar-button.svg">
          </a>
        </div>
      </div>

</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src='/js/newSearch.js'></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>